/* DEFAULT✅✅✅ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 600;
  color: #555;
}
/* ⛔⛔⛔ */

/* REUSABLE✅✅✅ */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0.4rem 0.3rem rgba(255, 0, 0, 0.5);
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #cf711f;
  color: #fdf2e9;
  box-shadow: 0 0 0 0.3rem #ff6b6b;
}
/* ⛔⛔⛔ */

/* HEADER✅✅✅ */
.header {
  background-color: rgba(255, 144, 14, 0.1);
}

.header-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.header-head h1 {
  font-size: 2.4rem;
  letter-spacing: 0.5px;
}

.header-head ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-head ul li {
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #cf711f;
  text-shadow: 0 0.4rem 0.3rem rgba(255, 0, 0, 0.3);
}

.header-content {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.header-content h3 {
  font-size: 3rem;
}

.header-content p {
  font-size: 1.2rem;
  max-width: 70%;
  text-align: center;
}

.hero-img {
  margin-top: 4rem;
}

.hero-img img {
  max-width: 100%;
}
/* ⛔⛔⛔ */

/* FEATURES✅✅✅ */
.features {
  margin: 10rem 0;
}

.features > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  flex-basis: 70rem;
}

.features-img img {
  max-width: 100%;
  display: inline-block;
}

.features-content {
  flex-basis: 50rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8rem;
}

.features-content h3 {
  font-size: 2.6rem;
  max-width: 30rem;
  line-height: 1.2;
}

.yo {
  color: #444;
}

.yoo {
  color: #cf711fe8;
  text-transform: uppercase;
}

.features-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
/* ⛔⛔⛔ */

/* ENJOY✅✅✅ */
.enjoy {
  margin-bottom: 10rem;
}

.enjoy-full {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 8rem;
}

.enjoy-img img {
  width: 100%;
}

.enjoy-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.enjoy-container h3 {
  font-size: 2.4rem;
  border-left: 0.4rem solid orange;
  padding-left: 0.8rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
}

.enjoy-container p {
  font-size: 1.2rem;
  line-height: 1.2;
}

.enjoy-container-gedu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.enjoy-container-gedu div {
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1111);
  background: rgba(255, 255, 255, 0.8);
  padding: 4rem;
}

.enjoy-container-gedu span {
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  margin-bottom: 1rem;
}

.enjoy-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
}

.enjoy-img div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  padding: 2rem;

  position: absolute;
  bottom: -3rem;
  left: -8rem;
}

.whitee {
  color: white;
  text-transform: uppercase;
  font-size: 3.2rem;
}

.blackk {
  font-size: 1.6rem;
  font-weight: 700;
}
/* ⛔⛔⛔ */

/* FACTS✅✅✅ */
.facts {
  margin-bottom: 10rem;
}

.facts-start {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}

.facts-cart {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.facts-cart div {
  padding: 4rem;
  border: 2px solid rgba(255, 143, 14, 0.8);
  border-radius: 8px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.facts-cart img {
  width: 4rem;
}

.facts-cart strong {
  font-size: 2.2rem;
}

.facts-cart span {
  font-size: 1.4rem;
  text-align: center;
}

.facts-start > div h3 {
  font-size: 2.8rem;
}

.facts-start > div p {
  margin-top: 0.8rem;
  font-size: 1.4rem;
}
/* ⛔⛔⛔ */
